.form-label {
	margin-bottom: .25rem;
	font-weight: 500;
	color: var(--intense);
}

.form-select {
	padding: .55rem 2rem .55rem .875rem;
	border-radius: var(--radius-sm);
	border-color: var(--border);
	font-size: .75rem;
	cursor: pointer;
}

.form-control {
	padding: .475rem 2rem .475rem .875rem;
	border-radius: var(--radius-sm);
	border-color: transparent;
	font-size: .875rem;
	font-weight: 500;
	background-color: var(--lighter);

	@include placeholder() {
		color: var(--minor);
	}
}

.input-group-text {
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	border-radius: var(--radius-sm);
	justify-content: center;
	font-size: .875rem;
	font-weight: 500;

	@include mediaUp(md) {
		min-width: 152px;
	}
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
	margin-left: -3px;
	border-top-left-radius: var(--radius-sm);
	border-bottom-left-radius: var(--radius-sm);
	border-color: transparent;
	position: relative;
	z-index: 5;
}

