body {
	background-color: var(--bg);
}

.wrap {
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	@include mediaUp(md) {
		flex-direction: row;
	}
}

.main {
	padding-top: 1.25rem;
	padding-bottom: 2rem;
	min-width: 1px;

	@include mediaUp(md) {
		flex: 1;
	}
}
