<div class="user-panel">
	<a href="" class="messages-button">
		<div class="messages-button__icon">
			+icon("envelope")
			<div class="messages-button__indicator"></div>
		</div>
	</a>

	<a href="" class="user">
		<img src="#{require('~/media/avatar.png')}" alt="" class="user__avatar">
		<div class="user__name">Максим Добжанский</div>
	</a>
</div>
