html {
	font-size: $rem;
}

body {
	color: var(--major);
	font-family: var(--fontMain);
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
}

a {
	text-decoration: none;
	transition:
		color var(--duration-sm),
		border-color var(--duration-sm),
		background-color var(--duration-sm),
		box-shadow var(--duration-sm);
}

p {
	max-width: 72ch;
	@include flowMargin;
	margin-top: 1rem;
	margin-bottom: 1rem;

	@include mediaUp(md) {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 2.5rem;
	margin-bottom: 1rem;
	@include flowMargin;
	color: var(--intense);
	line-height: 1.2;
	font-weight: 500;

	@include mediaUp(md) {
		margin-top: 2rem;
		margin-bottom: 1.25rem;
	}
}

h1, .h1 {
	font-size: 1.25rem;
}

.fz-xs {
	font-size: .75rem;
}
